<launch>

    <!-- Velocity Control Server -->
    <node pkg="screwed_planning"
          type="motion_planning_direct"
          name="motion_planning_direct"
          output="screen">
    </node>

    <!-- Launch Moveit -->
    <include file="$(find que36_moveit)/launch/ridgeback_moveit_planning_execution.launch"/>

    <!-- Moveit API Server -->
    <node pkg="screwed_planning"
          type="motion_planning_server"
          name="motion_planning_server"
          output="screen">
    </node>

    <!-- Force Control Server -->
    <node pkg="screwed_planning"
          type="motion_planning_force"
          name="motion_planning_force"
          output="screen">
    </node>

    <!-- Realsense Camera -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>

</launch>