<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Add the Kuka iiwa adapter Circle Plate -->

  <link name="kuka_adapter_plate_link">
    <visual>
      <geometry>
        <mesh filename="package://que36_description/meshes/Kuka iiwa 7 - Mount.STL"/>
      </geometry>
      <material name="grey" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://que36_description/meshes/Kuka iiwa 7 - Mount.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="kuka_adapter_plate_joint" type="fixed">
    <parent link="ewellix_lift_top_link" />
    <child link="kuka_adapter_plate_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
  </joint>

</robot>
